{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Website:website-base.html.twig' %}

{% block banner %}{% endblock %}

{% block content %}
    <h1>Kontakt</h1>
    Jochen Seelig
    <br>
    Telefon:
    +49 (0) 931 30 69 98 01

    <br>
    Telefax:
    +49 (0) 931 45 46 80 89

    <br>
    E-Mail:
    <a href='mailto:info@freizeitbooking.de'>info@freizeitbooking.de</a>
{% endblock %}