{% extends 'BinaerpilotenFreizeitbookingPlattformBundle::base.html.twig' %}

{% block navigation %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}