{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Admin:backend-base.html.twig' %}

{% block body -%}
    <h1>LasertagProvider creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('lasertagprovider') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
