{% extends 'BinaerpilotenFreizeitbookingPlattformBundle::backend-base.html.twig' %}

{% block body -%}
    <h1>SquashProvider creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('squashprovider') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
